@import "mixin";
$headerMainColor: White;

/*1920*/
header {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    position: relative;
    z-index: 99;

    // .header__background {
    //     background: #CACADB;
    //     border-radius: 0px 0px 12px 12px;
    //     // position: absolute;
    //     left: 20px;
    //     right: 20px;
    //     top: 0%;
    //     bottom: 100%;
    //     // z-index: -1;
		
    //     .header__background--secondary {
    //         background: #E7E7F2;
    //         border-radius: 0px 0px 12px 12px;   
    //         // position: absolute;
    //         left: 40px;
    //         right: 40px;
    //         top: 50%;
    //         bottom: 50%; 
    //         // z-index: -2;   
    //     }
		
    // }
    
    .wrap {
        background: url(../imgs/header/symbol.png) no-repeat;
        background-position: center top;
        z-index: 999;
        @include setPosition (flex, column, baseline, center);

        .header__block {
            outline: 2px solid yellow;
            width: $Size *90;
            @include setPosition (flex, row, space-between, flex-end);
            padding-top: $primarySize +50;

            .header__name {
                color: $headerMainColor;
                text-transform: uppercase;
                @include decorateTitle (600, $primarySize, $primarySize - 5, $primarySize +5);
            }

            .header__navigation {
                outline: 2px solid white;
                width: $Size*40;

                .header__nav {
                    @include setPosition (flex, row, flex-end, flex-end);

                    .nav {
                        width: $Size*20;

                        .nav__lang {
                            outline: 2px solid white;
                            @include setPosition (flex, row, flex-end, flex-end);
                            
                            .lang__item {
                                color: $headerMainColor;
                                @include decorateTitle (bold, $mainSize -0.3, $primarySize -9, $primarySize +13);
                                margin-right: 10%; /*отступы между лишками*/
                            }
    
                            #special {
                                @include redecorateElement (block, $primarySize +13, center, #F0145A, $primarySize +23, $primarySize +15, $primarySize - 2);
                            }
                        }      
                    }

                    .nav__contacts {
                        outline: 2px solid azure;
                        @include setPosition (flex, row, space-around, center);
                        width: $Size*60;

                        .dot__separator {
                            width: $primarySize - 4;
                            height: $primarySize - 4;
                            border-radius: $Size*50;
                            background-color: #E6E6F0;
                        }

                        .nav__title {
                            color: $headerMainColor;
                            @include decorateTitle (normal, $primarySize +6, normal, $primarySize *2);
                        }

                        .nav__title--strong {
                            font-weight: bold;
                        }
                    }    
                }

                .menu {
                    outline: 2px solid lime;
                    padding-top: $Size*2;
                    display: flex;
                    
                    .menu__picture {
                        display: none; /*для моб версии*/
                    }
                    
                    .menu__list {
                        @include setPosition (flex, row, flex-end, flex-end);
                        width: $Size*100;
                        
                        .menu__item {
                            margin-left: $Size*5;

                            .menu__link {
                                outline: 2px solid rgb(154, 159, 154);
                                color: $headerMainColor;
                                @include decorateTitle (bold, $primarySize +6, normal, $primarySize *2);
                            }
                        }
                    }
                }
            }
        }

        .header__block--positioned {
            outline: 2px solid rgb(13, 155, 13);
            margin-top: $Size +12;

            .title {
                @include decorateTitle (bold, $mainSize +1.1, normal, $mainSize +1.89);
                color: $headerMainColor;
            }
        }

        .header__block--hidden {
            outline: 2px solid rgb(229, 234, 229);
            width: $Size *90;
            margin-top: $Size *17;

            .btn {
                display: flex;
                justify-content: center;
            }
            
            .about {
                outline: 2px solid rgb(35, 143, 35);
                padding-top: 5%;
                display: flex;
                justify-content: center;

                .about__block {
                    outline: 2px solid rgb(141, 169, 205);
                    width: 62%;
                    @include setPosition (flex, column, center, flex-end);

                    .about__title {   /*hover*/
                        @include decorateTitle (bold, $mainSize +1.1, normal, $mainSize +1.89);
                        color: $color;
                        padding-bottom: 3.5%;
                    }

                    #main {
                        background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }

                .horisontal-line {
                    padding: 0 3%;
                }

                .about__block--aside {
                    outline: 2px solid rgb(214, 150, 13);
                    width: $Size *100;
                    @include setPosition (flex, column, center, baseline);

                    .about__name {
                        @include decorateTitle (bold, $primarySize +20, normal, $primarySize +27);
                        color: $headerMainColor;
                        padding-bottom: $Size *3;
                    }

                    .about__list {
                        width: $Size *80;
                        outline: 2px solid red;
                        @include decorateTitle (normal, $primarySize +9, normal, $primarySize +20);
                        color: $headerMainColor;
                    }
                }
            }
        }

        .service {
            outline: 2px solid rgb(118, 174, 15);
            width: $Size *90;
            padding-bottom: $Size *4;
            
            .service__btn {
                outline: 2px solid rgb(220, 221, 215);
                display: flex;
                @include decorateTitle (bold, $primarySize +4, $primarySize - 9, $primarySize +7);
                color: #F0145A;
                padding-bottom: $Size;

                .service__btn--primary {
                    padding-right: 0.4%;
                }
            }

            .title {
                background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                @include decorateTitle (bold, $primarySize +28, normal, $primarySize +36);
            }

            .service-column {
                padding-top: $Size +2;
                outline: 2px solid rgb(201, 10, 20);
                @include setPosition (flex, row, space-between, baseline);
                flex-wrap: wrap;
                
                .service-column__item {
                    outline: 2px solid rgb(15, 14, 14);
                    width: $Size *30;

                    .service-column__pic {
                        @include decorateIcons ($headerMainColor, $primarySize +82, $primarySize +82, $primarySize +14, relative);
                        
                        .service__picture {
                            position: absolute;
                            left: $Size *13;
                            top: $Size *12;
                           
                        }
                    }
                    .service-column__title {
                        outline: 2px solid rgb(201, 10, 20);
                        color: $mainColor;
                        @include decorateTitle (bold, $mainSize +0.375, normal, $mainSize +0.69);
                        padding: 3% 0;
                    }

                    #size {
                        outline: 2px solid rgb(13, 10, 10);
                        width: $Size *50;
                    }

                    #box {
                        outline: 2px solid rgb(10, 201, 128);
                        width: $Size *80;
                    }

                    .service-column__text {
                        color: $headerMainColor;
                        @include decorateTitle (normal, $mainSize, normal, $mainSize +0.62);  
                    }
                }
            }
        }
    }

}