$color: #B3B3BA;
$footerMainColor: #F5F5FA;
$mainColor: #24A3FF;
$additionalColor: #323264;
$darkColor: #46466E;
$mainColor: #24A3FF;
$secondaryColor: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%); /*background*/
$headerMainColor: White;
$lineColor: #E6E6F0;