$mainColor: #24A3FF;
$secondaryColor: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%); /*background*/
$color: #B3B3BA;
$additionalColor: #323264;
$primarySize: 10px;
$Size: 1%;
$mainSize: 1rem;



/*Определяем, какие необходимо подключать файлы scss на страницу*/
@import 'header';
@import 'footer';
@import "mixin";

body {
    font-family: 'Montserrat', sans-serif;

    .main {
        .block {
            outline: 2px solid red;
            margin-top: 5%;
            
            .block__info {
                outline: 2px solid rgb(8, 8, 8);
                width: 90%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                background-color: #F5F5FA;


                .block__pic {

                }

                .block__item {
                    padding: 1.5%;

                    .block__icon {

                    }

                    .block__title {
                        outline: 2px solid blue;
                        font-weight: bolder;
                        font-size: $mainSize +1.38;
                        line-height: $mainSize + 1.88;
                        background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                    }
                    
                    .block__text {
                        padding-top: 2%;
                        color: $color;
                        font-weight: bold;
                        font-size: $mainSize;
                        line-height: $mainSize +0.25;
                    }
                    
                    .block__text--small {
                        padding-top: 0.5%;
                        color: $color;
                        font-size: $mainSize -0.1;
                        line-height: $mainSize +0.38;

                    }
                }
            }
        }

        .main__wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .block__btn {
                padding-top: 1.5%;
            }

            .main__title {
                padding: 2% 0;
                color: $additionalColor;
                font-weight: bold;
                font-size: $mainSize +0.14;
                line-height: $mainSize +0.6;
                letter-spacing: $primarySize - 9;
                text-transform: uppercase;
            }
        }
    }
}